<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mrdigit_assests/MenuBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {320, 568}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {320, 568}}</string>
			<key>sourceSize</key>
			<string>{320, 568}</string>
		</dict>
		<key>mrdigit_assests/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 571}, {568, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 320}}</string>
			<key>sourceSize</key>
			<string>{568, 320}</string>
		</dict>
		<key>mrdigit_assests/burst.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 962}, {67, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 9}, {67, 50}}</string>
			<key>sourceSize</key>
			<string>{67, 68}</string>
		</dict>
		<key>mrdigit_assests/burstLabel.png</key>
		<dict>
			<key>frame</key>
			<string>{{96, 994}, {16, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 12}}</string>
			<key>sourceSize</key>
			<string>{16, 12}</string>
		</dict>
		<key>mrdigit_assests/coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 893}, {77, 102}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {77, 102}}</string>
			<key>sourceSize</key>
			<string>{77, 102}</string>
		</dict>
		<key>mrdigit_assests/darkburst.png</key>
		<dict>
			<key>frame</key>
			<string>{{157, 893}, {67, 51}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {67, 51}}</string>
			<key>sourceSize</key>
			<string>{67, 51}</string>
		</dict>
		<key>mrdigit_assests/digit_standing2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 997}, {16, 46}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 46}}</string>
			<key>sourceSize</key>
			<string>{16, 46}</string>
		</dict>
		<key>mrdigit_assests/dnBurst.png</key>
		<dict>
			<key>frame</key>
			<string>{{80, 980}, {16, 12}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 12}}</string>
			<key>sourceSize</key>
			<string>{16, 12}</string>
		</dict>
		<key>mrdigit_assests/frameGuide.png</key>
		<dict>
			<key>frame</key>
			<string>{{571, 1}, {160, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {160, 320}}</string>
			<key>sourceSize</key>
			<string>{160, 320}</string>
		</dict>
		<key>mrdigit_assests/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{323, 1}, {568, 27}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {568, 27}}</string>
			<key>sourceSize</key>
			<string>{568, 27}</string>
		</dict>
		<key>mrdigit_assests/heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{80, 893}, {85, 75}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {85, 75}}</string>
			<key>sourceSize</key>
			<string>{85, 75}</string>
		</dict>
		<key>mrdigit_assests/ninja_standing2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{49, 997}, {16, 45}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {16, 45}}</string>
			<key>sourceSize</key>
			<string>{19, 45}</string>
		</dict>
		<key>mrdigit_assests/sky.png</key>
		<dict>
			<key>frame</key>
			<string>{{352, 1}, {241, 165}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 4}, {241, 165}}</string>
			<key>sourceSize</key>
			<string>{241, 169}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>mrdigit_assests.png</string>
	</dict>
</dict>
</plist>
