<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mrdigit_assests/MenuBG.png</key>
		<dict>
			<key>frame</key>
			<string>{{2275, 1}, {1280, 2272}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 2272}}</string>
			<key>sourceSize</key>
			<string>{1280, 2272}</string>
		</dict>
		<key>mrdigit_assests/bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2272, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 1280}}</string>
			<key>sourceSize</key>
			<string>{2272, 1280}</string>
		</dict>
		<key>mrdigit_assests/burst.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 613}, {270, 204}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 34}, {270, 204}}</string>
			<key>sourceSize</key>
			<string>{270, 272}</string>
		</dict>
		<key>mrdigit_assests/coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 1}, {308, 408}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {308, 408}}</string>
			<key>sourceSize</key>
			<string>{308, 408}</string>
		</dict>
		<key>mrdigit_assests/digit_standing2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967, 184}, {64, 184}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 184}}</string>
			<key>sourceSize</key>
			<string>{64, 184}</string>
		</dict>
		<key>mrdigit_assests/frameGuide.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2275}, {640, 1280}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {640, 1280}}</string>
			<key>sourceSize</key>
			<string>{640, 1280}</string>
		</dict>
		<key>mrdigit_assests/ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1283}, {2272, 108}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2272, 108}}</string>
			<key>sourceSize</key>
			<string>{2272, 108}</string>
		</dict>
		<key>mrdigit_assests/heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{3557, 311}, {340, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {340, 300}}</string>
			<key>sourceSize</key>
			<string>{340, 300}</string>
		</dict>
		<key>mrdigit_assests/ninja_standing2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{3967, 1}, {66, 181}}</string>
			<key>offset</key>
			<string>{-2, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3, 1}, {66, 181}}</string>
			<key>sourceSize</key>
			<string>{76, 182}</string>
		</dict>
		<key>mrdigit_assests/sky.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1393}, {966, 678}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {966, 678}}</string>
			<key>sourceSize</key>
			<string>{966, 678}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>mrdigit_assests.png</string>
	</dict>
</dict>
</plist>
